__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
env.bak/
venv.bak/
.venv.bak/
*.egg-info/
.installed.cfg
*.egg
uv.lock
huggingface_cache/
assets/
speakers/
temp_uploaded/
last_models.txt
uv.exe
uvx.exe
uvw.exe
